<html>

header {
	 display: flex;
	 align-items: stretch;
     text-align: center;
	 flex-direction: column;
	 margin-top: 400px;
	 color: white;
	 
}

#headline {
    text-align: center;
	padding-bottom: 50px;
	color: white;
	font-weight: bolder;
	font-size:450%;
}

     body {
      background-image: url('black-grey.png');
      margin-left: auto;
	  
	 }
	 
	 footer {
	
    text-align: center;
	 margin-top: 20px;	
	 
}
	 
	 body input:hover {
     opacity: 0.5;
     filter: alpha(opacity=50)
	 }
	 
	 label {
       padding-right: 50px;
	   font-size: 450%;
	   text-align: center;
	   
}

      h2 {
	 
	  text-align: center;
	  margin: 0;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
	  font-weight: bolder;
	  font-size:350%;
}

h3 {
	  text-align: center;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}

h4 {
	  text-align: center;
	  margin: 250px;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}

h5 {
	  text-align: center;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}
	

#employeeid_textbox

{
    height:80px;
	width: 28%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	
}

#password_textbox

{
    height:80px;
	width: 28%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-left: 123px;
	
}

#showpassword {
  padding-left: 10px;
  font-size:150%;
  width: 50px;
}

.Checkbox_password {
  zoom: 2;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  margin-top: 50px;
}

#img {
  padding: 100px;
  padding-top: 10px;
  padding-left: 300px;
  text-align: center;
}


#employee_opt_buttons  {
  padding-top: 250px;
  word-spacing: 180px;
}

#calendar_opt_buttons  {
  padding-top: 600px;
  word-spacing: 300px;
}

body img:hover {
     opacity: 0.5;
     filter: alpha(opacity=50)
	 }

div.zoomed { 
    zoom: 60%; 
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;
} 

div.zoomed2 { 
    zoom: 40%; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
} 

div.zoomed3 { 
    zoom: 30%; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
}

div.resize {
    width:50%; /* you can use % */
    height: auto;
}

#time_opt_buttons  {
  padding-top: 100px;
  word-spacing: 300px;
}


#pto

{
    height:80px;
	width: 28%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
}
	 


</html>