header {
	display: flex;
	align-items: stretch;
	text-align: center;
	flex-direction: column;
	margin-top: 60px;
	color: white;
}

#headline {
	text-align: center;
	padding-bottom: 50px;
	color: white;
	font-weight: bolder;
	font-size: 450%;
}

body {
	background-image: url('../img/black-grey.png');
	margin-left: auto;
	min-width: 1000px;
	color: white;
}

footer {
	text-align: center;
	margin-top: 20px;
}

body input:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50)
}

label {
	padding-right: 50px;
	font-size: 200%;
	display: inline-block;
	width: 300px;
	text-align: right;
}

h2 {
	text-align: center;
	margin: 0;
	font-family: "Gill Sans Bold", serif;
	color: white;
	font-weight: bolder;
	font-size: 350%;
}

h3 {
	text-align: center;
	margin-left: 150px;
	font-family: "Gill Sans Bold", serif;
	color: white;
}

h4 {
	text-align: center;
	margin: 250px;
	font-family: "Gill Sans Bold", serif;
	color: white;
}

#employeeid_textbox {
	height: 40px;
	width: 300px;
	font-size: 18pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-bottom: 30px;
}

#password_textbox {
	height: 40px;
	width: 300px;
	font-size: 18pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-bottom: 30px;
}

input[type="image"] {
	height: 120px;
	width: 120px;
	margin-left: 40px;
	margin-right: 40px;
}

#login-buttons {
	padding-left: 550px;
}

.layout-table {
	border: 0;
	width: 80%;
}

#showpassword {
	padding-left: 10px;
	font-size: 150%;
	width: 50px;
}

.Checkbox_password {
	zoom: 2;
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-moz-transform: scale(2);
	margin-top: 50px;
}

#img {
	padding: 100px;
	padding-top: 10px;
	padding-left: 300px;
	text-align: center;
}

#employee_opt_buttons {
	padding-top: 250px;
	word-spacing: 180px;
}

#calendar_opt_buttons {
	padding-top: 600px;
	word-spacing: 300px;
}

body img:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50)
}

div.zoomed {
	zoom: 60%;
	padding-left: 80px;
	-moz-transform: scale(3);
	-moz-transform-origin: 0 0;
}

div.zoomed2 {
	zoom: 60%;
	-moz-transform: scale(3);
	-moz-transform-origin: 0 0;
}