


#headline {
    text-align: center;
	padding-bottom: 50px;
	color: white;
	font-weight: bolder;
	font-size:450%;
}

     body {
            background-image: url(../img/black-grey.png);
			background-repeat: no-repeat;
			background-size: 100%;		
	        }
	 
	 footer {
	
    text-align: center;
	 margin-top: 20px;	
	 
}
	 
	 body input:hover {
     opacity: 0.5;
     filter: alpha(opacity=50)
	 }
	 

      h2 {
	 
	  text-align: center;
	  margin: 0;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
	  font-weight: bolder;
	  font-size:350%;
}

h3 {
	  text-align: center;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}

h4 {
	  text-align: center;
	  margin: 250px;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}

h5 {
	  text-align: center;
	  font-family: "Gill Sans Bold", serif;
	  color: white;
}
	

#employeeid_textbox

{
    height:80px;
	width: auto;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-left: 80px;
}

#password_textbox

{
    height:80px;
	width: auto;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-left: 80px;
}

#showpassword {
  padding-left: 10px;
  font-size:150%;
  width: 50px;
}

.Checkbox_password {
  zoom: 2;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  margin-top: 50px;
}

#img {
  padding: 100px;
  padding-top: 10px;
  padding-left: 300px;
  text-align: center;
}


#employee_opt_buttons  {
  padding-top: 200px;
  word-spacing: 180px;
  text-align: center;
}

#calendar_opt_buttons  {
  padding-top: 350px;
  word-spacing: 180px;
  text-align: center;
}

body img:hover {
     opacity: 0.5;
     filter: alpha(opacity=50)
	 }

div.zoomed { 
    zoom: 60%; 
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;
} 

div.zoomed2 { 
    zoom: 40%; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
} 

div.zoomed3 { 
    zoom: 30%; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
}

div.resize {
    width:50%; /* you can use % */
    height: auto;
}

#time_opt_buttons  {
  padding-top: 100px;
  word-spacing: 300px;
}

.padding_right
{
	margin-left: 120px;
	
}

#selectDate
{
    height:55px;
	width: 40%;
    font-size:30pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 45px;
	
}

#pto

{
    height:80px;
	width: 28%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
}
	 
	 
#fromDate 
{
    height:55px;
	width: 40%;
    font-size:30pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#toDate 
{
    height:55px;
	width: 40%;
    font-size:30pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#pto
{
    height:55px;
	width: 40%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#sick
{
    height:55px;
	width: 40%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#floater
{
    height:55px;
	width: 40%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#employees
{
    height:65px;
	width: 90%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;	
	margin-left: 105px;
}

#status
{
    height: 65px;
	width: 90%;
    font-size:36pt;
	border-style: solid;
	border-color: dodgerblue;
	border-radius: 10px;
	border-width: 4px;
	margin-left: 105px;
	
}


label
{
  font-size:36pt;
  text-align: right;
  font-family: "Gill Sans Bold", serif;
  color: white;
  margin-left: 300px;
  display: table-cell; 
}

.wrap {
	table-layout: fixed;
    width: 100%;
}

.wrap table {
    table-layout: fixed;
    width: 100%;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100px;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}

.inner_table {
    height: 200px;
    overflow-y: auto;
}

table 
{
         border-collapse: collapse;
         width: 50%;
         color: #000000;
         font-family: monospace;
         font-size: 20px;
         }

caption 
{
         font-family: monospace;
         font-size: 20px;
         color: white;
         }
         
th 
{
         background-color: #000000;
         color: white;
         }
         
tr:nth-child(even) 
{
	background-color: #f2f2f2
   }

   tr:nth-child(odd) 
{
	background-color: #a5a2a2
   }



p     
    { 
    display: table-row;  
    }

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}
